#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name[]=theTerminal
GenericName[]=Terminal
Exec=theterminal %U
Icon=com.vicr123.theterminal
StartupWMClass=theTerminal
