#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theTerminal
GenericName=Terminal
GenericName[nl]=Terminal
GenericName[pt]=theTerminal
GenericName[vi]=Thiết bị đầu cuối
Exec=theterminal
Icon=utilities-terminal
Categories=Utility;System;TerminalEmulator;
