#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theTerminal (Drop Down mode)
GenericName=Drop Down Terminal
GenericName[vi]=Thiết bị đầu cuối rơi xuống
Exec=theterminal -d
Icon=utilities-terminal
Categories=Utility;System;TerminalEmulator;
